<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- ruta de mi interface -->
<mapper namespace="com.sisol.sys_citas.mapper.AuthMapper">
<!--nombre del metodo-->
<select id="verificarCorreo" statementType="CALLABLE" resultType="com.sisol.sys_citas.dto.UsuarioSesionDTO">
  { call sp_verificacion_correo_activo(
      #{correo, mode=IN, jdbcType=VARCHAR}
    )
  }
</select>

<!-- Obtener nombre completo de paciente -->
<select id="obtenerNombrePaciente" resultType="string">
  SELECT CONCAT(nombres, ' ', apellidos) FROM paciente WHERE id = #{id}
</select>

<!-- Obtener nombre completo de medico -->
<select id="obtenerNombreMedico" resultType="string">
  SELECT CONCAT(nombres, ' ', apellidos) FROM medico WHERE id = #{id}
</select>

<!-- Obtener nombre completo de personal administrativo -->
<select id="obtenerNombrePersonalAdministrativo" resultType="string">
  SELECT CONCAT(nombres, ' ', apellidos) FROM personal_administrativo WHERE id = #{id}
</select>

</mapper>
